[submodule "c-dfa/vendor/cadical"]
	path = c-dfa/vendor/cadical
	url = https://github.com/arminbiere/cadical.git
[submodule "vendor/xxhash"]
	path = vendor/xxhash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "draugr"]
	path = draugr
	url = https://github.com/panz-r/draugr-repo.git
	branch = master
