# generaqted files
internal/client/readonlybox_dfa.c 

bin/
*.so
*.o
*/*.so
c-dfa/tools/readonlybox_dfa.c
internal/client/readonlybox_dfa.c
internal/client/dfa_static_data.c
internal/client/test_dfa
c-dfa/tools/dfa2c
c-dfa/tools/nfa2dfa
c-dfa/test_debug
c-dfa/test_dfa_debug
c-dfa/test_dfa_simple
*.dfa
*.nfa
plans/
# exececutables
rbox-ptrace/readonlybox-ptrace
rbox-ptrace/tests/test_runner
rbox-ptrace/compile_commands.json
rbox-ptrace/.cache/
