[submodule "c-dfa/vendor/cadical"]
	path = c-dfa/vendor/cadical
	url = https://github.com/arminbiere/cadical.git
	branch = rel-3.0.0
[submodule "vendor/xxhash"]
	path = vendor/xxhash
	url = https://github.com/Cyan4973/xxHash.git
